.App {
  text-align: center;
}

.App-padding {
  padding: 0 10%;
}

.App-date {
  color: grey;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-main {
  display: inline-block;
  min-height: 40vh;
  text-align: left;
}

.App-footer {
  display: flex;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  background-color: #282c34;
  color: white;
}

.App-footer li {
  list-style-type: none;
  padding: 0 10px;
}

.App-footer a {
  text-decoration: none;
}

.App-footer a:visited {
  color: white;
}

img {
  height: auto;
  max-width: 100%;
}
